// @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap");

$font-size-base: 1rem;
$font-family-sans-serif: "Quicksand", Arial, sans-serif;
$headings-font-weight: 300;

$label-margin-bottom: 0.25rem;

a {
  text-decoration: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

$primary: #29a960;
$secondary: #fecf5c;
$info: #99cc33;
$success: #33cc33;
$warning: #ff9900;
$danger: #cc3333;
$dark: #333333;
$light: #efefef;
$white: #ffffff;

// import all bootstrap variables (values from above will overwrite defaults)
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// ----------------------------------------------------------------------------------------
// import the entire bootstrap library
// ----------------------------------------------------------------------------------------
@import "../node_modules/bootstrap/scss/bootstrap";
// ----------------------------------------------------------------------------------------
