@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap");

$font-size-base: 0.8rem;
$font-family-sans-serif: "Quicksand", Arial, sans-serif;

$label-margin-bottom: 0.25rem;

a {
  text-decoration: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

$primary: #53a04a;
$secondary: #fecf5c;
$info: #99cc33;
$success: #33cc33;
$warning: #ff9900;
$danger: #cc3333;
$dark: #333333;
$light: #efefef;
$white: #ffffff;

$navbar-dark-color: $white;
$navbar-dark-hover-color: rgba($white, 0.8);
$navbar-dark-active-color: $white;
$navbar-dark-disabled-color: rgba($white, 0.5);
$navbar-dark-toggler-border-color: transparent;

a[aria-expanded="true"] > .expanded-indicator {
  transform: rotate(180deg);
  transition: transform 200ms ease;
}
a[aria-expanded="false"] > .expanded-indicator {
  transform: rotate(360deg);
  transition: transform 200ms ease;
}

@import "./fancy-checkbox";
@import "./game-sprites";

// import all bootstrap variables (values from above will overwrite defaults)
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// ----------------------------------------------------------------------------------------
// import the entire bootstrap library
// ----------------------------------------------------------------------------------------
@import "../node_modules/bootstrap/scss/bootstrap";
// ----------------------------------------------------------------------------------------
